

.card-img-top:hover{
    transform: scale(1.1);
}

.card-img-top{    
    transition: transform .5s;
}

.shadow-sm:hover{    
    transform: scale(1.07);
}

.shadow-sm{    
    transition: transform .5s;
}

.p-2:hover{
    transform: scale(1.03);
}

.p-2{
    transition: transform .3s;
}

.btn-primary:hover{
    transform: scale(1.1);
}

.btn-primary{
    transition: transform .3s;;
}

