main > .container{
    padding: 30px 0;
}
.text-muted{
    --bs-text-opacity: 1;
    color: #777777!important;
    background: #000;
}
.btn-primary{
    margin-left: 6px;
}
.carrito-boton{
    margin-right: 2px;
    padding-right: 6px;
}
