body{
    font-family: 'Lato', sans-serif;
}

.btn {
    background-color: white !important;
    color: gray !important;
}

.btn img{
    color: white !important;
}
p#msgerror.text{
    color : rgb(255, 0, 0);
}
em{
    color: red;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }